[submodule "backend"]
	path = backend
	url = git@github.com:Krystian19/cactus-app-backend-service.git
	branch = master
[submodule "client"]
	path = client
	url = git@github.com:Krystian19/cactus-app-client-service.git
	branch = master
[submodule "image-cdn"]
	path = image-cdn
	url = git@github.com:Krystian19/cactus-fake-image-cdn-service.git
	branch = master
[submodule "video-cdn"]
	path = video-cdn
	url = git@github.com:Krystian19/cactus-fake-video-cdn-service.git
	branch = master
[submodule "backend_admin"]
	path = backend_admin
	url = git@github.com:Krystian19/cactus-app-backend-admin-service.git
	branch = master
